<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/Styles.css">
    <title>Title</title>
</head>
<body class="main-pages-body">
<nav class="nav-bar">
    <h3>Health of Gods</h3>
    <a href="../home.html">Home</a>
    <a href="../posts.html">All Posts</a>
    <a href="../Categories.html">Categories</a>
    <a href="../Authors.html">Authors</a>
    <a href="../tags.html">Tags</a>
</nav>
<ul th:each=" blog: ${author.blogs}" class="all-lists">
    <h2 th:text="${author.authorName}':'">Samuel Bishara:</h2>
    <br>
    <li><a th:text="${blog.blogTitle}" th:href="@{'blog/' + ${blog.blogTitle}}">6 Benefits of Running</a></li>
</ul>
</body>
</html>